body{
  font-family: serif;
  margin: 0;
  padding:0;
  background-color: #87ceeb;
  text-align: center;
}

*{
  margin: 0;
  padding:0;
}

main{
  display: block;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom:20px;
  border:solid 5px white;
  padding-bottom:20px;
  background-color: #87ceeb;
  width: 60%;
  text-align:center;
  color:white;
}

h1{
  padding-top:30px;
  font-weight: bold;
  font-size:60px;
  margin-bottom:0;
}

form{
  margin-bottom:20px;
}

.in{
  border-radius: 3px;
  border:solid 1px gray;
  width:45%;
  height:20px;
}

.submit{
  border-radius: 3px;
  border:solid 1px gray;
  width:20%;
  height:20px;
}

a{
  font-weight: bold;
  color: white;
  text-align: center;
  font-size:17px;
  text-decoration: none;
}
